@page
@model ProyectoCiclo3.App.Frontend.Pages.ListRutaModel
@{
}
 
<h1>Listado de Rutas</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th style="text-align: center;" scope="col">#</th>
      <th style="text-align: center;" scope="col">Origen</th>
      <th style="text-align: center;" scope="col">Destino</th>
      <th style="text-align: center;" scope="col">Tiempo estimado</th>
      <th style="text-align: center;" scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var ruta in Model.Rutas)
    {
        <tr>
            <td style="text-align: center;">@ruta.id</td>
            <td style="text-align: center;">@ruta.origen</td>
            <td style="text-align: center;">@ruta.destino</td>
            <td style="text-align: center;">@ruta.tiempo_estimado</td>
            <td style="text-align: center;">
              <div class="">
                <a class="btn btn-info" asp-page="./Details" asp-route-rutaId="@ruta.id">Ver</a>
                <a class="btn btn-info" asp-page="./Edit" asp-route-rutaId="@ruta.id">Editar</a>
                <form method="POST">
                  <input type="number" class="d-none" id="id" asp-for="@ruta.id">
                  <a class="btn btn-danger" href="">Eliminar</a>
                </form>
              </div>
            </td>
        </tr>
    }   
  </tbody>
</table>